<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Eleições - Partido NOVO</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
        name="viewport" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="<?= BASEURL ?>assets/css/now-ui-dashboard.css?v=<?= time() ?>" rel="stylesheet" />
    <link href="<?= BASEURL ?>assets/css/bootstrap.min.css?v=<?= time() ?>" rel="stylesheet" />
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/dataTables.bootstrap4.min.css" />
    <link href="<?= BASEURL ?>assets/css/style.css?v=<?= time() ?>" rel="stylesheet" />
    <script src="<?= BASEURL ?>assets/js/core/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="blue">
            <div class="logo pt-4 text-center">
                <a href="<?= BASEURL ?>">
                    <img src="<?= BASEURL ?>assets/img/logo-eleições-novo-02.svg" class="img-fluid">
                </a>
            </div>
            <div class="sidebar-wrapper" id="sidebar">
                <ul class="nav title">
                    <li class="<?= $session == 'home' ? 'active' : '' ?>">
                        <a href="<?= BASEURL ?>">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </li>
                    <?php if(in_array($user->getType(), array(1,4))): ?>
                    <li class="<?= $session == 'profile' ? 'active' : '' ?>">
                        <a href="<?= BASEURL ?>visualiza/">
                            <i class="fa fa-pencil-square-o"></i>
                            PERFIL
                        </a>
                    </li>
                    <?php else: ?>
                    <li class="<?= $session == 'candidates' ? 'active' : '' ?>">
                        <a href="<?= BASEURL ?>candidatos">
                            <i class="fa fa-users"></i>
                            CANDIDATOS
                        </a>
                    </li>
                    <li class="<?= $session == 'elected' ? 'active' : '' ?>">
                        <a href="<?= BASEURL ?>eleitos">
                            <i class="fa fa-user-circle"></i>
                            Eleitos
                        </a>
                    </li>
                    <?php endif; ?>
                    <?php if($user->getType() == 2): ?>
                        <li class="<?= $session == 'requirements' ? 'active' : '' ?>">
                            <a href="<?= BASEURL ?>requerimentos">
                                <i class="fa fa-file"></i>
                                REQUERIMENTOS
                            </a>
                        </li>
                        <li class="<?= $session == 'users' ? 'active' : '' ?>">
                            <a href="<?= BASEURL ?>usuarios">
                                <i class="fa fa-user"></i>
                                Usuários
                            </a>
                        </li>
                    <?php endif; ?>
                </ul>
            </div>
        </div>
        <div class="main-panel" id="main-panel">
            <nav class="navbar navbar-expand-lg navbar-transparent bg-secondary navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <span class="navbar-brand">Olá, <span style="color: #fdc908"><?= $user->getName() ?><i
                                    class="fa fa-exclamation"></i></span></span>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="<?= BASEURL ?>logout"><i class="fa fa-power-off"></i>Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--End navbar -->
            <div class="panel-header panel-header-sm"></div>
            <div class="content">
                <?php if (\App\Helpers\Session::get('errorMsg')): ?>
                <div class="row mt-5">
                    <div class="col">
                        <div class="alert alert-danger"><?= \App\Helpers\Session::get('errorMsg') ?></div>
                    </div>
                </div>
                <?php \App\Helpers\Session::forgot('errorMsg'); ?>
                <?php endif; ?>