body{
    background-color: #1a2948!important;
}
html {
    position: relative;
    min-height: 100%
}

.card-login {
    max-width: 30rem;
}

.logo{
    width: 100px !important;
}

#header{
    font-weight: bold;
    color: #F17021;
}

#header1{
    color: #1A2948;
    font-size: 30px;
}

#header2{
    font-weight: bold;
    color: #F17021;
    font-size: 40px;
}

.btn-primary{
    background-color: #1A2948;
    font-weight: bold;
}

.btn-secondary{
    background-color: #F17021;
    font-weight: bold;
}

/*.btn-secondary:hover{*/
/*    background-color: #FDC908;*/
/*    border: 0;*/
/*}*/

fieldset {
    display: block;
    border: 2px solid #1A2948;
    border-radius: 10px;
}


legend {
    color: #F17021;
    font-size: 20px;
    text-align: center;
}

input, input:focus{
    border: 0 !important;
    outline: none !important;
}
