<div class="row">
    <div class="col">
        <?php if(!$candidate && $user->getType() != 2): ?>
        <div class="alert alert-danger">Você não tem permissão para acessar este conteúdo!</div>
        <?php else: ?>
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input class="form-control" id="name" name="name" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input class="form-control" id="email" name="email" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="type">Tipo</label>
                                <select class="form-control" id="type" name="type">
                                    <option value="">Selecione o Tipo</option>
                                    <option value="2">Administrador</option>
                                    <option value="1">Candidato</option>
                                    <option value="4">Coordenador</option>
                                    <option value="3">Dirigente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state">Estado</label>
                                <select class="form-control" id="state" name="state"
                                    onchange="getCities(this.value, 'city')">
                                    <option value="0">Selecione</option>
                                    <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="city">Cidade</label>
                                <select class="form-control" id="city" name="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <div class="form-group">
                                <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                                <button class="btn btn-primary" type="submit">Filtrar</button>
                                <button class="btn btn-success" onclick="openModal(0)"><i class="fa fa-plus"></i>
                                    Adicionar Usuário</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div style="display: none" id="message" class="alert" role="alert"></div>
                Exibindo <span id="partial"></span> de <span id="total"></span>
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Nome</th>
                            <th class="text-center">E-mail</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Cidade</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <?php endif;?>
    </div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title">Cadastro de Usuário</h5>
            </div>
            <form id="form">
                <input type="hidden" id="userId" name="userId">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="nameModal">Nome:</label>
                                <input id="nameModal" name="nameModal" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="emailModal">E-mail:</label>
                                <input id="emailModal" name="emailModal" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="typeModal">Tipo:</label>
                                <select class="form-control" id="typeModal" name="typeModal">
                                    <option value="">Selecione o Tipo</option>
                                    <option value="2">Administrador</option>
                                    <option value="1">Candidato</option>
                                    <option value="4">Coordenador</option>
                                    <option value="3">Dirigente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="stateModal">Estado:</label>
                                <select id="stateModal" name="stateModal" class="form-control"
                                    onchange="getCities(this.value, 'cityModal')">
                                    <option value="">Selecione o estado</option>
                                    <?php foreach ($states as $item): ?>
                                    <option value="<?= $item->getId() ?>"><?= $item->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="cityModal">Cidade:</label>
                                <select class="form-control" id="cityModal" name="cityModal">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div style="display: none" id="messageFormModal" class="alert text-center" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
var index = partial = 0;
var total = 1;
var name = email = type = state = city = '';

const filter = document.getElementById('filter');
filter.addEventListener('submit', e => {
    e.preventDefault();
    let formData = formDataToJson('filter');
    index = partial = 0;
    total = 1;
    name = formData.name;
    email = formData.email;
    type = formData.type;
    state = formData.state;
    city = formData.city;
    $("#table tbody").empty();
    generateTable();
});

function resetTable() {
    index = partial = 0;
    total = 1;
    name = email = type = state = city = '';
    $("#table tbody").empty();
    generateTable();
}

function generateTable() {
    showLoading();
    fetch(`<?= BASEURL ?>api/cadastros/usuarios/?index=${index}&name=${name}&email=${email}&type=${type}&state=${state}&city=${city}`, {
        method: "GET",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }
    }).then(response => {
        response.json().then(json => {
            closeLoading();
            $('#total').text(json.total);
            $('#partial').text(json.partial);
            let options = json.message.map(generateUsersTable);
            $("#table tbody").append(options);
        });
    });
}

const form = document.getElementById('form');
const divMessageForm = document.getElementById('messageFormModal');
form.addEventListener('submit', e => {
    $('#save').addClass('disabled');
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form');
    fetch("<?= BASEURL ?>api/cadastros/usuarios/", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        divMessageForm.classList.add("alert-danger");
        divMessageForm.classList.remove("alert-success");
        response.json().then(json => {
            divMessageForm.textContent = json.message;
            divMessageForm.style.display = 'block';
            if (response.status === 201) {
                divMessageForm.classList.add("alert-success");
                divMessageForm.classList.remove("alert-danger");
                setTimeout(function() {
                    $('#cardModal').modal('hide');
                    window.location.reload();
                }, 2000);
            }
        });
    });
});

function generateUsersTable(user) {
    let actions = '<i class="fa fa-ban" aria-hidden="true"></i>';
    <?php if ($user->getType() == 2) : ?>
    actions =
        `<a href="#" onclick="change(${user.id})" class="text-danger"><i class="fa fa-times" title="Inativar" ></i> Remover </a> | `;
    actions +=
        `<a href="#" onclick="openModal(${user.id})"><i class="fa fa-pencil text-info" title="Editar"></i> Editar </a>`;
    if (user.active != 1) actions =
        `<a href="#" onclick="change(${user.id})"><i class="fa fa-refresh text-success" title="Ativar"></i> Ativar </a> `;
    <?php endif; ?>
    actions = `<td class="text-center">${actions} </td>`;
    return `<tr>
                <td class="text-center">${user.name}</td>
                <td class="text-center">${user.email}</td>
                <td class="text-center">${user.typeString}</td>
                <td class="text-center">${user.state}</td>
                <td class="text-center">${user.city}</td>
                ${actions}
            </tr>`;
}

function change(id) {
    showLoading();
    const divMessage = document.getElementById('message');
    fetch("<?= BASEURL ?>api/cadastros/altera-status/" + id, {
        method: "POST",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }
    }).then(response => {
        response.json().then(json => {
            closeLoading();
            divMessage.textContent = json.message;
            divMessage.style.display = 'block';
            divMessage.classList.add("alert-danger");
            divMessage.classList.remove("alert-success");
            if (response.status === 201) {
                divMessage.classList.add("alert-success");
                divMessage.classList.remove("alert-danger");
                setTimeout(function() {
                    window.location.reload();
                }, 2000);
            }
        });
    });
}

function openModal(id) {
    showLoading();
    document.getElementById('form').reset();
    document.getElementById('userId').value = id;
    $('#cardModal').modal('show');
    $('#messageFormModal').hide();
    if (id > 0) {
        fetch(`<?= BASEURL ?>api/cadastros/usuarios/${id}`, {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                json = json.message[0];
                getCities(json.stateId, 'cityModal');
                closeLoading();
                document.getElementById('nameModal').value = json.name;
                document.getElementById('emailModal').value = json.email;
                document.getElementById('typeModal').value = json.type;
                document.getElementById('stateModal').value = json.stateId;
                setTimeout(function() {
                    document.getElementById('cityModal').value = json.cityId;
                }, 1000);
            });
        });
    }
};

$(document).ready(function() {
    generateTable();
    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
            index++;
            generateTable();
        }
    });
});
</script>