<div class="row">
    <div class="col-md-12">
        <?php if(!$candidate && $user->getType() == 1): ?>
        <div class="alert alert-danger">Você não tem permissão para acessar este conteúdo!</div>
        <?php else: ?>
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input class="form-control" id="name" name="name" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input class="form-control" id="email" name="email" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="post">Cargo</label>
                                <select name="post" id="post" class="form-control">
                                    <option value="">Selecione</option>
                                    <option value="1">Deputado Estadual/Distrital</option>
                                    <option value="2">Deputado Federal</option>
                                    <option value="3">Governador</option>
                                    <option value="5">Presidente</option>
                                    <option value="6">Senador</option>
                                    <option value="8">Suplente de Senador</option>
                                    <option value="9">Vice Governador</option>
                                    <option value="10">Vice Presidente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state">Estado</label>
                                <select class="form-control" id="state" name="state"
                                    onchange="getCities(this.value, 'city')">
                                    <option value="0">Selecione</option>
                                    <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="city">Cidade</label>
                                <select class="form-control" id="city" name="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="valid">Validação Foto</label>
                                <select name="valid" id="valid" class="form-control">
                                    <option value="">Todos</option>
                                    <option value="2">Não Validado</option>
                                    <option value="1">Validado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-10 text-right">
                            <div class="form-group text-right">
                                <?php if($user->getType() == 2): ?>
                                <button class="btn btn-success" type="button" data-toggle="modal"
                                    data-target="#exampleModal">Aplicar Data Requerimento</button>
                                <?php endif; ?>
                                <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                                <button class="btn btn-primary" type="submit">Filtrar</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="messageForm2" class="alert text-left d-none" role="alert"></div>
                        </div>
                    </div>
                </form>
                Exibindo <span id="partial"></span> de <span id="total"></span>
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <?php if($user->getType() == 2): ?>
                            <th class="text-center"></th>
                            <?php endif; ?>
                            <th class="text-center">Nome</th>
                            <th class="text-center">E-mail</th>
                            <th class="text-center">Cargo</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Cidade</th>
                            <th class="text-center">Data Requerimento</th>
                            <th class="text-center"></th>
                            <?php if($user->getType() == 2): ?>
                            <th class="text-center"></th>
                            <?php endif; ?>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <?php endif; ?>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title">Requerimento Impugnação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form">
                <div class="modal-body" id="valueDiv">
                    <div id="content" name="content" class="form-group"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="date">Data limite Impugnação:</label>
                                <input class="form-control" id="date" name="date" type="date">
                            </div>
                        </div>
                    </div>
                    <div id="messageForm" class="alert text-left d-none" role="alert"></div>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
var index = partial = 0;
var total = 1;
var name = email = post = state = city = flag = valid = '';

const filter = document.getElementById('filter');
filter.addEventListener('submit', e => {
    e.preventDefault();
    let formData = formDataToJson('filter');
    index = partial = 0;
    total = 1;
    name = formData.name;
    email = formData.email;
    post = formData.post;
    state = formData.state;
    city = formData.city;
    flag = formData.flag;
    valid = formData.valid;
    $("#table tbody").empty();
    generateTable();
});

function resetTable() {
    index = partial = 0;
    total = 1;
    name = email = post = state = city = flag = valid  = '';
    $("#table tbody").empty();
    generateTable();
}

function generateTable() {
    showLoading();
    fetch(`<?= BASEURL ?>api/cadastros/candidatos/?index=${index}&name=${name}&email=${email}&post=${post}&state=${state}&city=${city}&flag=${flag}&valid=${valid}`, {
        method: "GET",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }
    }).then(response => {
        response.json().then(json => {
            closeLoading();
            $('#total').text(json.total);
            $('#partial').text(json.partial);
            let options = json.message.map(generateCandidatesTable);
            $("#table tbody").append(options);
        });
    });
}

function generateCandidatesTable(candidate) {
    if (candidate.validation == 2) {
        validation = `<td class="text-center"><a type="button" class="btn btn-danger" type="button" href="<?= BASEURL ?>edita-perfil/${candidate.id}" target="_blank"> Validar</a></td>`;
    } else if (candidate.validation == 1) {
        validation = `<td class="text-center"><button class="btn btn-success" type="button"> Validado</button></td>`;
    } else {
        validation = `<td class="text-center">-</td>`;
    }
    let user = <?= $user->getType() ?>;
    checkbox = '';
    if(user == 2){
        checkbox =
            `<td class="text-center"><input type="checkbox" id="idCandidate" name="idCandidate" value="${candidate.id}" onchange="addValue('${candidate.id}','${candidate.name}')"></td>`;
    }
    if (user != 1) {
        if (candidate.status == 1) {
            status =
                `<td class="text-center"><button class="btn btn-info" type="button" onclick="setStatus(${candidate.id})">Desabilitar</button></td>`;
        } else {
            status = `<td class="text-center"><button class="btn btn-success" type="button" onclick="setStatus(${candidate.id})">Habilitar</button></td>`;
        }
    }
    return `<tr>
                ${checkbox}
                <td class="text-center"><a href="<?= BASEURL ?>visualizar-perfil/${candidate.id}" target="_blank">${candidate.name} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                <td class="text-center">${candidate.email}</td>
                <td class="text-center">${candidate.post}</td>
                <td class="text-center">${candidate.state}</td>
                <td class="text-center">${candidate.city}</td>
                <td class="text-center">${candidate.requirementDate}</td>
                ${validation}
                ${status}
            </tr>`;
}

function insertId(id) {
    $('#item').val(id);
}

const form = document.getElementById('form');
const messageForm = document.getElementById('messageForm');
form.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form');
    fetch("<?= BASEURL ?>api/candidatos/data-requerimento/", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        messageForm.classList.add("alert-danger");
        messageForm.classList.remove("alert-success");
        response.json().then(json => {
            messageForm.textContent = json.message;
            messageForm.classList.remove('d-none');
            if (response.status === 201) {
                messageForm.classList.add("alert-success");
                messageForm.classList.remove("alert-danger");
                setTimeout(function() {
                    window.location.reload();
                }, 2000);
            }
        });
    });
});

let values = 0;

function addValue(id, name) {
    let html = `<div class="btn btn-secondary" style="border: 1px black solid; border-radius: 5px; text-align: left;">
                        <i class="fa fa-times text-danger" onclick="removeValue(this)"></i>
                        ${name}
                        <input type="hidden" id="candidatesValue[${id}]" name="candidatesValue[]" value="${id}">
                </div> `
    $("#valueDiv").append(html);
    values++;
}

function removeValue(i) {
    values--;
    ((i.parentNode).parentNode).removeChild(i.parentNode);
}

const messageForm2 = document.getElementById('messageForm2');
function setStatus(candidate) {
    showLoading();
    fetch(`<?= BASEURL ?>api/candidatos/status/` + candidate, {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
    }).then(response => {
        closeLoading();
        messageForm2.classList.add("alert-danger");
        messageForm2.classList.remove("alert-success");
        messageForm2.classList.remove("d-none");
        response.json().then(json => {
            messageForm2.innerHTML = json.message;
            messageForm2.style.display = 'block';
            if (response.status === 201) {
                messageForm2.classList.add("alert-success");
                messageForm2.classList.remove("alert-danger");
                setTimeout(function() {
                    location.reload();
                }, 2000);
            }
        });
    });
}

$(document).ready(function() {
    generateTable();
    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
            index++;
            generateTable();
        }
    });
});
</script>