<div class="row">
    <div class="col-md-12">
        <?php if(!$candidate && $user->getType() == 1): ?>
        <div class="alert alert-danger">Você não tem permissão para acessar este conteúdo!</div>
        <?php else: ?>
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input class="form-control" id="name" name="name" type="text">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="year">Ano</label>
                                <select name="year" id="year" class="form-control">
                                    <option value="">Todos</option>
                                    <option value="2018">2018</option>
                                    <option value="2020">2020</option>
                                    <option value="2022">2022</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="post">Cargo</label>
                                <select name="post" id="post" class="form-control">
                                    <option value="">Selecione</option>
                                    <option value="1">Deputado Estadual/Distrital</option>
                                    <option value="2">Deputado Federal</option>
                                    <option value="3">Governador</option>
                                    <option value="9">Vice Governador</option>
                                    <option value="4">Prefeito</option>
                                    <option value="11">Vice Prefeito</option>
                                    <option value="5">Presidente</option>
                                    <option value="6">Senador</option>
                                    <option value="7">Vereador</option>
                                    <option value="8">Suplente de Senador</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state">Estado</label>
                                <select class="form-control" id="state" name="state"
                                    onchange="getCities(this.value, 'city')">
                                    <option value="0">Selecione</option>
                                    <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="city">Cidade</label>
                                <select class="form-control" id="city" name="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 text-right">
                            <div class="form-group text-right">
                                <a class="btn btn-success" href="<?= BASEURL ?>visualiza-eleito" type="button">Adicionar</a>
                                <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                                <button class="btn btn-primary" type="submit">Filtrar</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="messageForm2" class="alert text-left d-none" role="alert"></div>
                        </div>
                    </div>
                </form>
                Exibindo <span id="partial"></span> de <span id="total"></span>
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Ano</th>
                            <th class="text-center">Cargo</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Cidade</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <?php endif; ?>
    </div>
</div>

<script>
var index = partial = 0;
var total = 1;
var name = year = post = state = city = '';

const filter = document.getElementById('filter');
filter.addEventListener('submit', e => {
    e.preventDefault();
    let formData = formDataToJson('filter');
    index = partial = 0;
    total = 1;
    name = formData.name;
    year = formData.year;
    post = formData.post;
    state = formData.state;
    city = formData.city;
    $("#table tbody").empty();
    generateTable();
});

function resetTable() {
    index = partial = 0;
    total = 1;
    name = year = post = state = city = '';
    $("#table tbody").empty();
    generateTable();
}

function generateTable() {
    showLoading();
    fetch(`<?= BASEURL ?>api/cadastros/eleitos/?index=${index}&name=${name}&year=${year}&post=${post}&state=${state}&city=${city}`, {
        method: "GET",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }
    }).then(response => {
        response.json().then(json => {
            closeLoading();
            $('#total').text(json.total);
            $('#partial').text(json.partial);
            let options = json.message.map(generateElectedTable);
            $("#table tbody").append(options);
        });
    });
}

function generateElectedTable(elected) {
    return `<tr>
                <td class="text-center"><a href="<?= BASEURL ?>visualiza-eleito/${elected.id}" target="_blank">${elected.name} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                <td class="text-center">${elected.year}</td>
                <td class="text-center">${elected.post}</td>
                <td class="text-center">${elected.state}</td>
                <td class="text-center">${elected.city}</td>
            </tr>`;
}

$(document).ready(function() {
    generateTable();
    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
            index++;
            generateTable();
        }
    });
});
</script>