<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <?php if($user->getType() == 2): ?>
                        <button type="button" onclick="openModal()" class="btn btn-primary">Editar</button>
                        <?php endif; ?>
                    </div>
                </div>
                <?= $instructions->getInstruction() ?>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form id="form">
                <input type="hidden" name="userId" id="userId" value="<?= $user->getId() ?>">
                <div class="modal-header card-header">
                    <h5 class="modal-title">Instruções</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="instruction" id="instruction" cols="40" rows="20" class="form-control"
                                style="width: 100%; height: 523px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                                maxlength="1400"><?= isset($instructions) != null ? $instructions->getInstruction() : '' ?>
                        </textarea>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="messageForm" class="alert text-left d-none" role="alert"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/plugins/tinymce/jquery.tinymce.min.js"></script>
<script src="<?= BASEURL ?>assets/js/plugins/tinymce/tinymce.min.js"></script>

<script>
const form = document.getElementById('form');
const messageForm = document.getElementById('messageForm');
form.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form');
    fetch("<?= BASEURL ?>api/cadastros/instrucoes/", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        messageForm.classList.add("alert-danger");
        messageForm.classList.remove("alert-success");
        response.json().then(json => {
            messageForm.textContent = json.message;
            messageForm.classList.remove('d-none');
            if (response.status === 201) {
                messageForm.classList.add("alert-success");
                messageForm.classList.remove("alert-danger");
                setTimeout(function() {
                    window.location.reload();
                }, 2000);
            }
        });
    });
});

tinymce.init({
    selector: "textarea",
    menubar: false,
    statusbar: false,
    toolbar: 'styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image media | forecolor backcolor table',
    plugins: ["lists link image media textcolor table"],
    browser_spellcheck: true,
    imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
    setup: function(editor) {
        editor.on('change', function() {
            editor.save();
        });
    }
});

function openModal() {
    $("#exampleModal").modal();
}
</script>