<div class="row">
    <div class="col-md-12">
        <?php if(!$candidate && $user->getType() == 1 || $user->getType() == 3 && $user->getState() != $candidate->getState()): ?>
        <div class="alert alert-danger">Você não tem permissão para acessar este conteúdo!</div>
        <?php else: ?>
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card">
                        <form id="form1" enctype="multipart/form-data" method="post">
                            <input type="hidden" id="candidateId" name="candidateId" value="<?= $candidate->getId() ?>">
                            <div class="card-header-secondy">
                                <h5 class="title">Informações Pessoais</h5>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name">Nome:</label>
                                            <input type="text" id="name" name="name" class="form-control"
                                                value="<?= $candidate->getName() ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="emailAccess">E-mail Acesso:</label>
                                            <input type="text" id="emailAccess" name="emailAccess" class="form-control"
                                                value="<?= $candidate->getEmail() ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="email">E-mail:</label>
                                            <input type="text" id="email" name="email" class="form-control"
                                                value="<?= $candidate->getEmailCandidate() ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="phone">Telefone:</label>
                                            <input type="text" id="phone" name="phone" class="form-control"
                                                data-mask="(99) 99999-9999" value="<?= $candidate->getPhone() ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="post">Cargo:</label>
                                            <select name="post" id="post" class="form-control">
                                                <option value="">Selecione</option>
                                                <option value="1" <?= $candidate->getPost() == 1 ? 'selected' : '' ?>>
                                                    Deputado Estadual/Distrital</option>
                                                <option value="2" <?= $candidate->getPost() == 2 ? 'selected' : '' ?>>
                                                    Deputado Federal</option>
                                                <?php if($user->getType() != 1): ?>
                                                <option value="3" <?= $candidate->getPost() == 3 ? 'selected' : '' ?>>
                                                    Governador</option>
                                                <option value="5" <?= $candidate->getPost() == 5 ? 'selected' : '' ?>>
                                                    Presidente</option>
                                                <option value="6" <?= $candidate->getPost() == 6 ? 'selected' : '' ?>>
                                                    Senador</option>
                                                <option value="8" <?= $candidate->getPost() == 8 ? 'selected' : '' ?>>
                                                    Suplente de Senador</option>
                                                <option value="9" <?= $candidate->getPost() == 9 ? 'selected' : '' ?>>
                                                    Vice Governador</option>
                                                <option value="10" <?= $candidate->getPost() == 10 ? 'selected' : '' ?>>
                                                    Vice Presidente</option>
                                                <?php endif; ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="gender">Genero:</label>
                                            <select class="form-control" id="gender" name="gender">
                                                <option value="">Selecione</option>
                                                <option value="1" <?= $candidate->getGender() == 1 ? 'selected' : '' ?>>
                                                    Masculino</option>
                                                <option value="2" <?= $candidate->getGender() == 2 ? 'selected' : '' ?>>
                                                    Feminino</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="state">Estado:</label>
                                            <select class="form-control" id="state" name="state"
                                                onchange="getCities(this.value, 'city')">
                                                <option value="0">Selecione</option>
                                                <?php foreach ($states as $state): ?>
                                                <option value="<?= $state->getId() ?>"
                                                    <?= $candidate->getState()->getId() == $state->getId() ? 'selected' : '' ?>>
                                                    <?= $state->getEstado() ?>
                                                </option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="city">Cidade:</label>
                                            <select class="form-control" id="city" name="city">
                                                <?php foreach ($cities as $c): ?>
                                                <option value="">Selecione</option>
                                                <option value="<?= $c->getId() ?>"
                                                    <?= $candidate->getCity() ? $candidate->getCity()->getId() == $c->getId() ? 'selected' : '' : '' ?>>
                                                    <?= $c->getCidade() ?>
                                                </option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="profession">Profissão/Ocupação:</label>
                                            <input type="text" id="profession" name="profession" class="form-control"
                                                value="<?= $candidate->getProfession() ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="skinColor">Cor:</label>
                                            <select class="form-control" id="skinColor" name="skinColor">
                                                <option value="">Selecione</option>
                                                <option value="1"
                                                    <?= $candidate->getSkinColor() == 1 ? 'selected' : '' ?>>Branca
                                                </option>
                                                <option value="2"
                                                    <?= $candidate->getSkinColor() == 2 ? 'selected' : '' ?>>Preta
                                                </option>
                                                <option value="3"
                                                    <?= $candidate->getSkinColor() == 3 ? 'selected' : '' ?>>Parda
                                                </option>
                                                <option value="4"
                                                    <?= $candidate->getSkinColor() == 4 ? 'selected' : '' ?>>Amarela
                                                </option>
                                                <option value="5"
                                                    <?= $candidate->getSkinColor() == 5 ? 'selected' : '' ?>>
                                                    Indígena
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="messageForm1" class="alert text-left d-none" role="alert"></div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary" type="submit">Salvar Dados</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card">
                        <form id="form2" enctype="multipart/form-data" method="post">
                            <input type="hidden" id="candidateId" name="candidateId" value="<?= $candidate->getId() ?>">
                            <div class="card-header-secondy">
                                <h5 class="title">Informações da Campanha</h5>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="nameMkt">Nome Marketing:</label>
                                            <input type="text" id="nameMkt" name="nameMkt" class="form-control"
                                                value="<?= $candidate->getNameMkt() ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="numberLegend">Número de Legenda:</label>
                                            <input type="text" id="numberLegend" name="numberLegend"
                                                class="form-control" value="<?= $candidate->getLegend() ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="crowdfunding">Link Vaquinha:</label>
                                            <input type="text" id="crowdfunding" name="crowdfunding"
                                                class="form-control" value="<?= $candidate->getCrowdfunding() ?>"
                                                placeholder="https://">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="requirementDate">Requerimento:</label>
                                            <input type="text" id="requirementDate" name="requirementDate"
                                                <?= $user->getType() != 2 ? 'readonly' : '' ?> data-mask="99/99/9999"
                                                class="form-control"
                                                value="<?= $candidate->getRequirementDate() ? $candidate->getRequirementDate()->format('d/m/Y') : '' ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="site">Site Candidato:</label>
                                            <input type="text" id="site" name="site" class="form-control"
                                                value="<?= $candidate->getSite() ?>" placeholder="https://">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="resume">Resumo:</label>
                                            <textarea class="form-control" id="resume" name="resume"
                                                rows="7"><?= $candidate->getResume() ?></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="proposal">Pautas:</label>
                                            <textarea class="form-control" id="proposal" name="proposal"
                                                rows="7"><?= $candidate->getProposals() ?></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div id="messageForm2" class="alert text-left d-none" role="alert"></div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary" type="submit">Salvar Dados</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card">
                        <form id="form3" enctype="multipart/form-data" method="post">
                            <input type="hidden" id="candidateId" name="candidateId" value="<?= $candidate->getId() ?>">
                            <div class="card-header-secondy">
                                <h5 class="title">Links Redes Sociais</h5>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="instagram">Instagram:</label>
                                            <input type="text" id="instagram" name="instagram" class="form-control"
                                                value="<?= $candidate->getInstagram() ?>"
                                                placeholder="https://www.instagram.com/">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="facebook">Facebook:</label>
                                            <input type="text" id="facebook" name="facebook" class="form-control"
                                                value="<?= $candidate->getFacebook() ?>"
                                                placeholder="https://www.facebook.com/">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="linkedin">Linkedin:</label>
                                            <input type="text" id="linkedin" name="linkedin" class="form-control"
                                                value="<?= $candidate->getLinkedin() ?>"
                                                placeholder="http://br.linkedin.com/in/">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="twitter">Twitter:</label>
                                            <input type="text" id="twitter" name="twitter" class="form-control"
                                                value="<?= $candidate->getTwitter() ?>"
                                                placeholder="https://twitter.com/">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="tiktok">Tiktok:</label>
                                            <input type="text" id="tiktok" name="tiktok" class="form-control"
                                                value="<?= $candidate->getTiktok() ?>"
                                                placeholder="https://www.tiktok.com/">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="youtube">Youtube:</label>
                                            <input type="text" id="youtube" name="youtube" class="form-control"
                                                value="<?= $candidate->getYoutube() ?>"
                                                placeholder="https://www.youtube.com/user/">
                                        </div>
                                    </div>
                                </div>
                                <div id="messageForm3" class="alert text-left d-none" role="alert"></div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary" type="submit">Salvar Dados</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card">
                        <form id="form4" enctype="multipart/form-data" method="post">
                            <input type="hidden" id="candidateId" name="candidateId" value="<?= $candidate->getId() ?>">
                            <div class="card-header-secondy">
                                <h5 class="title">Dados Bancários</h5>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="cnpj">CNPJ de Campanha:</label>
                                            <input type="text" id="cnpj" name="cnpj" class="form-control"
                                                value="<?= $candidate->getCnpj() ?>" data-mask="99.999.999/9999-99">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="bank">Banco:</label>
                                            <select class="form-control" id="bank" name="bank">
                                                <option value="" selected>Selecione</option>
                                                <?php foreach($banks as $b): ?>
                                                <option value="<?= $b->getId() ?>"
                                                    <?= $candidate->getBank() ? $candidate->getBank()->getId() == $b->getId() ? 'selected' : '' : '' ?>>
                                                    <?= $b->getName() ?>
                                                </option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="agency">Agencia:</label>
                                            <input type="text" id="agency" name="agency" class="form-control"
                                                value="<?= $candidate->getAgency() ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="account">Conta:</label>
                                            <input type="text" id="account" name="account" class="form-control"
                                                value="<?= $candidate->getAccount() ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <button class="btn btn-primary" id="bankData" type="submit">Salvar
                                            Dados</button>
                                    </div>
                                </div>
                                <div id="messageForm4" class="alert text-left d-none" role="alert"></div>
                            </div>
                        </form>
                    </div>
                    <div class="card">
                        <form id="form5" enctype="multipart/form-data" method="post">
                            <input type="hidden" id="candidateId" name="candidateId" value="<?= $candidate->getId() ?>">
                            <div class="card-header-secondy">
                                <h5 class="title">Bandeiras</h5>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="flag">Bandeira:</label>
                                            <select class="form-control" id="flag" name="flag">
                                                <option value="">Selecione</option>
                                                <?php foreach ($flagsList as $flag): ?>
                                                <option value="<?= $flag['id'] ?>">
                                                    <?= $flag['flag'] ?>
                                                </option>
                                                <?php endforeach; ?>
                                                <option value="24">Outros</option>
                                            </select>
                                            <button type="button" onclick="addValue()" class="btn btn-info"
                                                title="Add Preços"><i class="fa fa-plus" aria-hidden="true"></i>
                                                Adicionar</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="valueDiv">
                                            <label for="content">Bandeiras Cadastradas:</label>
                                            <div id="content" name="content" class="form-group"></div>
                                            <?php foreach($flags as $f): ?>
                                            <div class="btn btn-secondary"
                                                style="border: 1px black solid; border-radius: 5px; text-align: left;">
                                                <i class="fa fa-times text-danger" onclick="removeValue(this)"></i>
                                                <?= $f->getFlag()->getFlag() ?>
                                                <input type="hidden" id="flagValue[${values}]" name="flagValue[]"
                                                    value="<?= $f->getFlag()->getId() ?>">
                                            </div>
                                            <?php endforeach; ?>
                                        </div>
                                    </div>
                                </div>
                                <div id="messageForm5" class="alert text-left d-none" role="alert"></div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary" type="submit">Salvar Dados</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card">
                        <div class="card-header-secondy">
                            <h5 class="title">Foto Oficial</h5>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-6">
                                <form id="form6" enctype="multipart/form-data" method="post">
                                    <input type="hidden" id="candidateId" name="candidateId"
                                        value="<?= $candidate->getId() ?>">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="photo">Inserir nova foto:</label>
                                            <div class="form-group" style="height: 50px;">
                                                <input id="photograph" name="photograph" class="form-control"
                                                    type="file" style="opacity: 1; border: 0px;">
                                            </div>
                                        </div>
                                        <div id="messageForm6" class="alert text-left d-none" role="alert"></div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary" type="submit">Salvar Foto</button>
                                    </div>
                                </form>
                                <?php if($candidate->getPhotograph()): ?>
                                <p>
                                <ul>
                                    <li><b>As dimensões sugeridas para sua foto devem ser em torno de 255 x 255px.</li>
                                    <br>
                                    <li>O limite máximo para tamanho da imagem é 5MB.</li></b><br>
                                    <li>A fotografia deve ser tirada de frente.</li><br>
                                    <li>O rosto e os ombros devem estar completamente enquadrados pela
                                        câmera e
                                        o candidato deve olhar diretamente para a câmara.</li><br>
                                    <li>Não pode haver reflexos, penumbras ou sombras em nenhuma parte da
                                        fotografia.</li><br>
                                    <li>Os olhos devem estar abertos e visíveis.</li><br>
                                    <li>Não serão permitidos quaisquer itens de chapelaria que possam
                                        impedir a
                                        visualização perfeita do rosto do candidato.</li><br>
                                    <li>Fundo branco/cinza liso.</li>
                                </ul>
                                </p>
                                <div class="col-md-12">
                                    <form id="form7">
                                        <input type="hidden" id="candidateId" name="candidateId"
                                            value="<?= $candidate->getId() ?>">
                                        <?php if($user->getType() != 1): ?>
                                        <div class="form-group">
                                            <?php if($candidate->getPhotographValid() != 1): ?>
                                            <button type="submit" id="validPhotoButton" class="btn btn-success">Validar
                                                Foto</button>
                                            <?php else: ?>
                                            <button type="button" id="photographButton" class="btn btn-primary"
                                                disabled>Foto
                                                Validada</button>
                                            <button type="submit" id="validPhotoButton"
                                                class="btn btn-warning">Invalidar
                                                Foto</button>
                                            <?php endif; ?>
                                        </div>
                                        <?php endif; ?>
                                    </form>
                                    <div id="messageForm7" class="alert text-left d-none" role="alert"></div>
                                </div>
                            </div>
                            <div class="col-md-6 text-left">
                                <figure>
                                    <img src="<?= BASEURL ?>/uploads/img/<?= $candidate->getPhotographPending() ?>"
                                        alt="Minha Figura">
                                </figure>
                            </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header-secondy">
                            <h5 class="title">Video</h5>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-6">
                                <form id="form8" enctype="multipart/form-data" method="post">
                                    <input type="hidden" id="candidateId" name="candidateId"
                                        value="<?= $candidate->getId() ?>">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="video">Link Video:</label>
                                            <input type="text" id="video" name="video" class="form-control"
                                                value="<?= $candidate->getVideo() ?>">
                                        </div>
                                        <div id="messageForm8" class="alert text-left d-none" role="alert"></div>
                                        <div class="alert alert-info" role="alert">
                                            Copie apenas o código do vídeo no link e insira conforme exemplo abaixo:
                                            Modelo de link: <b>https://www.youtube.com/embed/{código}</b>
                                        </div>
                                        <div class="alert alert-warning text-center" role="alert">
                                            <b>Somente são aceitos videos do Youtube!</b>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-left">
                                        <button class="btn btn-primary" type="submit">Salvar Video</button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div id="messageForm9" class="alert text-left d-none" role="alert"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <?php if($candidate->getVideo()): ?>
                                <?php if (!empty($candidate->getVideo())): ?>
                                <iframe width="560" height="315" <?php
                                        $presentationEmbed = str_replace('youtu.be/', 'youtube.com/watch?v=', $candidate->getVideo());
                                        $presentationEmbed = str_replace('watch?v=', 'embed/', $candidate->getVideo());
                                        $presentationEmbed = str_replace('&feature=youtu.be', '', $candidate->getVideo());
                                        ?> src="<?= $presentationEmbed ?>?start=1" allowfullscreen></iframe><br>
                                <?php endif; ?>
                                <form id="form9">
                                    <input type="hidden" id="candidateId" name="candidateId"
                                        value="<?= $candidate->getId() ?>">
                                    <?php if($user->getType() != 1): ?>
                                    <div class="form-group">
                                        <?php if($candidate->getVideoValid() != 1): ?>
                                        <button type="submit" id="validVideoButton" class="btn btn-success">Validar
                                            Video</button>
                                        <?php else: ?>
                                        <button type="button" id="VideoButton" class="btn btn-primary" disabled>Video
                                            Validado</button>
                                        <button type="submit" id="validPhotoButton" class="btn btn-warning">Invalidar
                                            Video</button>
                                        <?php endif; ?>
                                    </div>
                                    <?php endif; ?>
                                </form>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header-secondy">
                            <h5 class="title">QrCode</h5>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-6">
                                <form id="form10" enctype="multipart/form-data" method="post">
                                    <input type="hidden" id="candidateId" name="candidateId"
                                        value="<?= $candidate->getId() ?>">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="alert alert-info" role="alert">
                                                Anexe um Qrcode para finalidade que deseja (sites, grupos de WhatsApp
                                                ou
                                                vaquinhas).</div>
                                        </div>
                                        <label for="qrCode">QrCode:</label>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group" style="height: 50px;">
                                                    <input type="file" id="qrCode" name="qrCode" class="form-control"
                                                        style="opacity: 1; border: 0px;">
                                                </div>
                                                <div id="messageForm10" class="alert text-left d-none" role="alert">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-primary" type="submit">Salvar QrCode</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <?php if (!empty($candidate->getVideo())): ?>
                                <figure>
                                    <img src="<?= BASEURL ?>/uploads/img/<?= $candidate->getQrCode() ?>"
                                        alt="Minha Figura" style="width: 50%;">
                                </figure>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php endif; ?>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/plugins/tinymce/jquery.tinymce.min.js"></script>
<script src="<?= BASEURL ?>assets/js/plugins/tinymce/tinymce.min.js"></script>

<script>
let values = 0;
<?php if($flags): ?>
values = <?= count($flags) ?>
<?php endif; ?>

const form1 = document.getElementById('form1');
const messageForm1 = document.getElementById('messageForm1');
form1.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form1');
    fetch("<?= BASEURL ?>api/candidatos/informacoes-pessoais/", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        messageForm1.classList.add("alert-danger");
        messageForm1.classList.remove("alert-success");
        response.json().then(json => {
            messageForm1.textContent = json.message;
            messageForm1.classList.remove('d-none');
            if (response.status === 201) {
                messageForm1.classList.add("alert-success");
                messageForm1.classList.remove("alert-danger");
            }
        });
    });
});

const form2 = document.getElementById('form2');
const messageForm2 = document.getElementById('messageForm2');
form2.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form2');
    fetch("<?= BASEURL ?>api/candidatos/informacoes-campanha/", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        messageForm2.classList.add("alert-danger");
        messageForm2.classList.remove("alert-success");
        response.json().then(json => {
            messageForm2.textContent = json.message;
            messageForm2.classList.remove('d-none');
            if (response.status === 201) {
                messageForm2.classList.add("alert-success");
                messageForm2.classList.remove("alert-danger");
            }
        });
    });
});

const form3 = document.getElementById('form3');
const messageForm3 = document.getElementById('messageForm3');
form3.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form3');
    fetch("<?= BASEURL ?>api/candidatos/redes-sociais/", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        messageForm3.classList.add("alert-danger");
        messageForm3.classList.remove("alert-success");
        response.json().then(json => {
            messageForm3.textContent = json.message;
            messageForm3.classList.remove('d-none');
            if (response.status === 201) {
                messageForm3.classList.add("alert-success");
                messageForm3.classList.remove("alert-danger");
            }
        });
    });
});

const form4 = document.getElementById('form4');
const messageForm4 = document.getElementById('messageForm4');
form4.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form4');
    fetch("<?= BASEURL ?>api/candidatos/dados-bancarios/", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        messageForm4.classList.add("alert-danger");
        messageForm4.classList.remove("alert-success");
        response.json().then(json => {
            messageForm4.textContent = json.message;
            messageForm4.classList.remove('d-none');
            if (response.status === 201) {
                messageForm4.classList.add("alert-success");
                messageForm4.classList.remove("alert-danger");
            }
        });
    });
});

const form5 = document.getElementById('form5');
const messageForm5 = document.getElementById('messageForm5');
form5.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form5');
    fetch("<?= BASEURL ?>api/candidatos/bandeiras/", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        messageForm5.classList.add("alert-danger");
        messageForm5.classList.remove("alert-success");
        response.json().then(json => {
            messageForm5.textContent = json.message;
            messageForm5.classList.remove('d-none');
            if (response.status === 201) {
                messageForm5.classList.add("alert-success");
                messageForm5.classList.remove("alert-danger");
            }
        });
    });
});

const form7 = document.getElementById('form7');
const messageForm7 = document.getElementById('messageForm7');
form7.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form7');
    fetch(`<?= BASEURL ?>api/candidatos/valida-foto/`, {
        method: 'PUT',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        messageForm7.classList.add("alert-danger");
        messageForm7.classList.remove("alert-success");
        messageForm7.classList.remove("d-none");
        response.json().then(json => {
            messageForm7.innerHTML = json.message;
            messageForm7.style.display = 'block';
            if (response.status === 201) {
                messageForm7.classList.add("alert-success");
                messageForm7.classList.remove("alert-danger");
            }
        });
    });
});

const form8 = document.getElementById('form8');
const messageForm8 = document.getElementById('messageForm8');
form8.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form8');
    fetch(`<?= BASEURL ?>api/candidatos/video/`, {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        messageForm8.classList.add("alert-danger");
        messageForm8.classList.remove("alert-success");
        messageForm8.classList.remove("d-none");
        response.json().then(json => {
            messageForm8.innerHTML = json.message;
            messageForm8.style.display = 'block';
            if (response.status === 201) {
                messageForm8.classList.add("alert-success");
                messageForm8.classList.remove("alert-danger");
            }
        });
    });
});

const form9 = document.getElementById('form9');
const messageForm9 = document.getElementById('messageForm9');
form9.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form9');
    fetch(`<?= BASEURL ?>api/candidatos/valida-video/`, {
        method: 'PUT',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        messageForm9.classList.add("alert-danger");
        messageForm9.classList.remove("alert-success");
        messageForm9.classList.remove("d-none");
        response.json().then(json => {
            messageForm9.innerHTML = json.message;
            messageForm9.style.display = 'block';
            if (response.status === 201) {
                messageForm9.classList.add("alert-success");
                messageForm9.classList.remove("alert-danger");
            }
        });
    });
});

function addValue() {
    if (values >= 3) {
        alert('Limite de Bandeiras atingido');
        return;
    }
    let flagValue = $("#flag").val();
    if (flagValue == '') {
        alert('Campo Bandeira inválido ou vazio!');
        return;
    }
    flagValueText = $('#flag').find(":selected").text();
    let html = `<div class="btn btn-secondary" style="border: 1px black solid; border-radius: 5px; text-align: left;">
                        <i class="fa fa-times text-danger" onclick="removeValue(this)"></i>
                        ${flagValueText}
                        <input type="hidden" id="flagValue[${values}]" name="flagValue[]" value="${flagValue}">
                </div> `
    $("#valueDiv").append(html);
    values++;
    $("#flag").val('');
}

function removeValue(i) {
    values--;
    ((i.parentNode).parentNode).removeChild(i.parentNode);
}

$(document).ready(function() {
    <?php if($user->getType() != 2): ?>
    //document.getElementById('numberLegend').setAttribute('readonly', true);
    //document.getElementById('bank').setAttribute('readonly', true);
    //document.getElementById('agency').setAttribute('readonly', true);
    //document.getElementById('account').setAttribute('readonly', true);
    //document.getElementById('bankData').setAttribute('disabled', true);
    <?php endif; ?>
});
</script>

<script>
tinymce.init({
    selector: "textarea",
    menubar: false,
    statusbar: false,
    toolbar: 'styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image media | forecolor backcolor table',
    plugins: ["lists link image media textcolor table"],
    browser_spellcheck: true,
    imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
    setup: function(editor) {
        editor.on('change', function() {
            editor.save();
        });
    }
});
</script>

<script>
const form6 = document.getElementById('form6');
const messageForm6 = document.getElementById('messageForm6');
$("#form6").submit(function(e) {
    event.preventDefault();
    showLoading();
    $.ajax({
            type: 'POST',
            url: '<?= BASEURL ?>api/candidatos/foto-oficial/',
            data: new FormData(this),
            processData: false,
            contentType: false
        })
        .done(function(json) {
            closeLoading();
            messageForm6.classList.add("alert-success");
            messageForm6.classList.remove("alert-danger");
            messageForm6.textContent = json.message;
            messageForm6.classList.remove("d-none");
        })
        .fail(function(json) {
            closeLoading();
            messageForm6.classList.add("alert-danger");
            messageForm6.classList.remove("alert-success");
            messageForm6.textContent = json.responseJSON.message;
            messageForm6.classList.remove("d-none");
        });
});

const form10 = document.getElementById('form10');
const messageForm10 = document.getElementById('messageForm10');
$("#form10").submit(function(e) {
    event.preventDefault();
    showLoading();
    $.ajax({
            type: 'POST',
            url: '<?= BASEURL ?>api/candidatos/qrcode/',
            data: new FormData(this),
            processData: false,
            contentType: false
        })
        .done(function(json) {
            closeLoading();
            messageForm10.classList.add("alert-success");
            messageForm10.classList.remove("alert-danger");
            messageForm10.textContent = json.message;
            messageForm10.classList.remove("d-none");
        })
        .fail(function(json) {
            closeLoading();
            messageForm10.classList.add("alert-danger");
            messageForm10.classList.remove("alert-success");
            messageForm10.textContent = json.responseJSON.message;
            messageForm10.classList.remove("d-none");
        });
});
</script>