<div class="row">
    <div class="col-md-12">
        <?php if(!$candidate && $user->getType() != 2): ?>
        <div class="alert alert-danger">Você não tem permissão para acessar este conteúdo!</div>
        <?php else: ?>
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="candidate">Candidato</label>
                                <select class="form-control" name="candidate" id="candidate">
                                    <option value="" selected readonly>Todos</option>
                                    <?php foreach($candidates as $candidate): ?>
                                    <option value="<?- $candidate->getId() ?>"><?= $candidate->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input class="form-control" id="name" name="name" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input class="form-control" id="email" name="email" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reason">Motivo</label>
                                <input class="form-control" id="reason" name="reason" type="text">
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <div class="form-group">
                                <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                                <button class="btn btn-primary" type="submit">Filtrar</button>
                            </div>
                        </div>
                    </div>
                </form>
                Exibindo <span id="partial"></span> de <span id="total"></span>
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Envio</th>
                            <th class="text-center">Candidato</th>
                            <th class="text-center">Nome</th>
                            <th class="text-center">E-mail</th>
                            <th class="text-center">Motivo</th>
                            <th class="text-center">Arquivo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <?php endif; ?>
    </div>
</div>

<!-- Large modal -->
<div id="modalData" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title">Detalhes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h5 for="candidate"><b>Candidato:</b>
                                <span id="candidateModal">
                            </h5>
                        </div>
                        <div class="form-group">
                            <h5 for="nameModal"><b>Nome:</b>
                                <span id="nameModal">
                        </div>
                        <div class="form-group">
                            <h5 for="emailModal"><b>Emai:</b>
                                <span id="emailModal">
                            </h5>
                        </div>
                        <div class="form-group">
                            <h5 for="cpfModal"><b>Cpf:</b>
                                <span id="cpfModal">
                            </h5>
                        </div>
                        <div class="form-group">
                            <h5 for="phoneModal"><b>Telefone:</b>
                                <span id="phoneModal">
                            </h5>
                        </div>
                        <hr>
                        <div class="form-group">
                            <h5 for="reasonModal"><b>Motivo:</b></h5>
                            <span id="reasonModal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var index = partial = 0;
var total = 1;
var candidate = name = email = reason = '';

const filter = document.getElementById('filter');
filter.addEventListener('submit', e => {
    e.preventDefault();
    let formData = formDataToJson('filter');
    index = partial = 0;
    total = 1;
    candidate = formData.candidate;
    name = formData.name;
    email = formData.email;
    reason = formData.reason;
    $("#table tbody").empty();
    generateTable();
});

function resetTable() {
    index = partial = 0;
    total = 1;
    candidate = name = email = reason = '';
    $("#table tbody").empty();
    generateTable();
}

function generateTable() {
    //showLoading();
    fetch(`<?= BASEURL ?>api/cadastros/requerimentos/?index=${index}&candidate=${candidate}&name=${name}&email=${email}&reason=${reason}`, {
        method: "GET",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }
    }).then(response => {
        response.json().then(json => {
            closeLoading();
            $('#total').text(json.total);
            $('#partial').text(json.partial);
            let options = json.message.map(generateCandidatesTable);
            $("#table tbody").append(options);
        });
    });
}

function generateCandidatesTable(requirement) {
    let file = '';
    if (requirement.file != null) {
        file =
            ` <a href="<?= BASEURL ?>uploads/files/${requirement.file}" type="button" class="btn btn-primary" target="_blank">Visualizar</a>`;
    } 
    return `<tr>
                <td class="text-center">${requirement.created}</td>
                <td class="text-center"><a href="#" onclick="openModal('${requirement.candidate}', '${requirement.name}', '${requirement.email}', '${requirement.cpf}', '${requirement.phone}', '${requirement.reason}')">${requirement.candidate} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                <td class="text-center">${requirement.name}</td>
                <td class="text-center">${requirement.email}</td>
                <td class="text-center">${requirement.reason}</td>
                <td class="text-center">${file}</td>
            </tr>`;
}

function openModal(candidate, name, email, cpf, phone, reason) {
    $('#candidateModal').text(candidate);
    $('#nameModal').text(name);
    $('#emailModal').text(email);
    $('#cpfModal').text(cpf);
    $('#phoneModal').text(phone);
    $('#reasonModal').text(reason);
    $('#modalData').modal();
}

$(document).ready(function() {
    generateTable();
    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
            index++;
            generateTable();
        }
    });
});
</script>