<div class="row">
    <div class="col-md-12">
        <?php if(!$candidate && $user->getType() == 1 || $user->getType() == 3 && $user->getState() != $candidate->getState()): ?>
        <div class="alert alert-danger">Você não tem permissão para acessar este conteúdo!</div>
        <?php else: ?>
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?= $title ?> - <?= $candidate->getNameMkt() ?></h5>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <figure>
                                <img src="<?= BASEURL ?>/uploads/img/<?= $candidate->getPhotograph() ?>"
                                    alt="Minha Figura">
                            </figure>
                            <?php if($user->getType() == 1): ?>
                            <a href="<?= BASEURL ?>perfil/" type="button" id="edit" class="btn btn-secondary"
                                target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i> Editar Informações</a>
                            <?php else: ?>
                            <a href="<?= BASEURL ?>edita-perfil/<?= $candidate->getId() ?>" type="button" id="edit"
                                class="btn btn-secondary" target="_blank"><i class="fa fa-pencil"
                                    aria-hidden="true"></i> Editar Informações</a>
                            <?php endif; ?>
                            <?php if($candidate->getStatus() == 1): ?>
                            <?php if($candidate->getVisible() == 1): ?>
                            <button type="button" onclick="openModal(0)" class="btn btn-danger"><i class="fa fa-times"
                                    aria-hidden="true"></i>
                                Despublicar</button>
                            <?php else: ?>
                            <button type="button" onclick="openModal(1)" class="btn btn-success"><i class="fa fa-check"
                                    aria-hidden="true"></i>
                                Publicar</button>
                            <?php endif; ?>
                            <?php endif; ?>
                        </div>
                        <div class="col-md-10">
                            <div id="messageForm" class="alert text-left d-none" role="alert"></div>
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <h5 class="title">Informações Pessoais</h5>
                                    <p><b>Nome</b>: <?= $candidate->getName() ?></p>
                                    <p><b>E-mail:</b> <?= $candidate->getEmailCandidate() ?></p>
                                    <p><b>Telefone:</b> <?= $candidate->getPhone() ?></p>
                                    <p><b>Cargo:</b> <?= $candidate->getPostString() ?></p>
                                    <p><b>Genero:</b> <?= $candidate->getGenderString() ?></p>
                                    <p><b>Estado:</b> <?= $candidate->getState()->getEstado() ?></p>
                                    <p><b>Cidade:</b>
                                        <?= $candidate->getCity() ? $candidate->getCity()->getCidade() : '' ?></p>
                                    <p><b>Profissão/Ocupação:</b> <?= $candidate->getProfession() ?></p>
                                    <p><b>Cor:</b> <?= $candidate->getSkinColorString() ?></p>
                                </div>
                                <div class="col-md-4 text-left">
                                    <h5 class="title">Informações de Campanha</h5>
                                    <p><b>Nome Marketing:</b> <?= $candidate->getNameMkt() ?></p>
                                    <p><b>Número de Legenda:</b> <?= $candidate->getLegend() ?></p>
                                    <p><i class="fa fa-link" aria-hidden="true"></i> <b>Link Vaquinha:</b>
                                        <?= $candidate->getCrowdfunding() ?></p>
                                    <p><b>Requerimento de Impugnação:</b>
                                        <?= $candidate->getRequirementDate() ? $candidate->getRequirementDate()->format('d/m/Y') : '' ?>
                                    </p>
                                    <p><i class="fa fa-link" aria-hidden="true"></i> <b>Site Candidato:</b>
                                        <?= $candidate->getSite() ?></p><br>
                                </div>
                                <div class="col-md-4 text-left">
                                    <h5 class="title">Links Redes Sociais</h5>
                                    <p><i class="fa fa-instagram" aria-hidden="true"></i> <b>Instagram:</b>
                                        <?= $candidate->getInstagram() ?></p>
                                    <p><i class="fa fa-facebook" aria-hidden="true"></i> <b>Facebook:</b>
                                        <?= $candidate->getFacebook() ?></p>
                                    <p><i class="fa fa-linkedin" aria-hidden="true"></i> <b>Linkedin:</b>
                                        <?= $candidate->getLinkedin() ?></p>
                                    <p><i class="fa fa-twitter" aria-hidden="true"></i> <b>Twitter:</b>
                                        <?= $candidate->getTwitter() ?></p>
                                    <p><i class="fa fa-youtube" aria-hidden="true"></i> <b>Youtube:</b>
                                        <?= $candidate->getYoutube() ?></p>
                                    <p><i class="fa fa-link" aria-hidden="true"></i> <i class="fa fa-tiktok"></i>
                                        <b>Tiktok:</b> <?= $candidate->getTiktok() ?>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <p><b>Resumo:</b> <?= $candidate->getResume() ?></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <p><b>Pautas:</b> <?= $candidate->getProposals() ?></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h5 class="title">Informações Bancárias</h5>
                                    <p><b>Banco:</b>
                                        <?= $candidate->getBank() ? $candidate->getBank()->getName() : '' ?></p>
                                    <p><b>Agencia:</b> <?= $candidate->getAgency() ?></p>
                                    <p><b>Conta:</b> <?= $candidate->getAccount() ?></p>
                                </div>
                                <div class="col-md-6 text-left">
                                    <h5 class="title">Bandeiras Cadastradas:</h5>
                                    <?php foreach($flags as $f): ?>
                                    <div class="btn btn-secondary"
                                        style="border: 1px black solid; border-radius: 5px; text-align: left;">
                                        <?= $f->getFlag()->getFlag() ?>
                                    </div>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="title">Video <i class="fa fa-video-camera"></i></h5>
                                    <?php if (!empty($candidate->getVideo())): ?>
                                    <iframe width="560" height="315" <?php
                                        $presentationEmbed = str_replace('youtu.be/', 'youtube.com/watch?v=', $candidate->getVideo());
                                        $presentationEmbed = str_replace('watch?v=', 'embed/', $candidate->getVideo());
                                        $presentationEmbed = str_replace('&feature=youtu.be', '', $candidate->getVideo());
                                        ?> src="<?= $presentationEmbed ?>?start=1" allowfullscreen></iframe><br>
                                    <small><?= $candidate->getVideo() ?></small>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="title">QrCode <i class="fa fa-qrcode"></i></h5>
                                    <?php if (!empty($candidate->getQrCode())): ?>
                                    <figure>
                                        <img src="<?= BASEURL ?>/uploads/img/<?= $candidate->getQrCode() ?>"
                                            alt="Minha Figura">
                                    </figure>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php endif; ?>
        </div>
    </div>
</div>

<div class="modal" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="title w-100">AVISO</h5>
            </div>
            <div class="modal-body text-justify">
                <p>Ao clicar em “concordar e prosseguir” o candidato consente de forma expressa e inequívoca a
                    possibilidade de divulgação pública nas plataformas do NOVO dos dados pessoais inseridos no Perfil,
                    para o fim de informar e auxiliar o eleitor na escolha do voto.
                    Declaro que os dados preenchidos são verdadeiros, sendo que assumo a integral responsabilidade pelo
                    seu conteúdo.
                    Declaro, ainda, estar ciente de que o presente consentimento poderá ser revogado, a qualquer tempo,
                    através do e-mail: lgpd@novo.org.br.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="setVisible()">Concordar e
                    Prosseguir</button>
            </div>
        </div>
    </div>
</div>

<script>
const messageForm = document.getElementById('messageForm');

function setVisible() {
    showLoading();
    fetch(`<?= BASEURL ?>api/candidatos/visibilidade/` + <?= $candidate->getId() ?>, {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
    }).then(response => {
        closeLoading();
        messageForm.classList.add("alert-danger");
        messageForm.classList.remove("alert-success");
        messageForm.classList.remove("d-none");
        response.json().then(json => {
            messageForm.innerHTML = json.message;
            messageForm.style.display = 'block';
            if (response.status === 201) {
                messageForm.classList.add("alert-success");
                messageForm.classList.remove("alert-danger");
                setTimeout(function() {
                    location.reload();
                }, 2000);
            }
        });
    });
}

function openModal(status) {
    if (status == 1) {
        $("#modal").modal({
            backdrop: "static", //remove abilidfsaty to close modal with click
            keyboard: false, //remove option to close with keyboard
            show: true //Display loader!
        });
    } else {
        setVisible();
    }
}
</script>