<div class="row">
    <div class="col-md-12">
        <?php if(!$elected && $user->getType() == 1 || $user->getType() == 3 && $user->getState() != $elected->getState()): ?>
        <div class="alert alert-danger">Você não tem permissão para acessar este conteúdo!</div>
        <?php else: ?>
        <div class="card">
            <div class="card-header">
                <h5 class="title">Perfil - <?= $elected ? $elected->getName() : '' ?></h5>
            </div>
            <div class="card-body">
                <form id="form" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <figure>
                                <img src="<?= BASEURL ?>/uploads/img/<?= $elected ? $elected->getPhotograph() : 'gender_1.jpeg' ?>"
                                    alt="Minha Figura" style="width: 25%;">
                            </figure>
                            <label for="photo">Inserir nova foto:</label>
                            <div class="form-group" style="height: 50px;">
                                <input id="photograph" name="photograph" class="form-control" type="file"
                                    style="opacity: 1; border: 0px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="checkbox" id="active" name="active"
                                <?= $elected ? $elected->getActive() == 1 ? 'checked' : '' : '' ?>>
                            <label for="scales"  style="font-size: 20px;">Perfil Ativo</label><br>
                            <input type="checkbox" id="reelected" name="reelected"
                                <?= $elected ? $elected->getReelected() == 1 ? 'checked' : '' : '' ?>>
                            <label for="scales" style="font-size: 20px;">Reeleito</label>
                            <hr>
                        </div>
                        <div class="col-md-12">
                            <input type="hidden" id="id" name="id" value="<?= $elected ? $elected->getId() : '' ?>">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name">Nome:</label>
                                        <input type="text" id="name" name="name" class="form-control"
                                            value="<?= $elected ? $elected->getName() : '' ?>">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="year">Ano:</label>
                                        <select class="form-control" id="year" name="year">
                                            <option value="">Selecione</option>
                                            <option value="2018"
                                                <?= $elected ? $elected->getYear() == 2018 ? 'selected' : '' : '' ?>>
                                                2018</option>
                                            <option value="2020"
                                                <?= $elected ? $elected->getYear() == 2020 ? 'selected' : '' : '' ?>>
                                                2020</option>
                                            <option value="2022"
                                                <?= $elected ? $elected->getYear() == 2022 ? 'selected' : '' : '' ?>>
                                                2022</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="post">Cargo:</label>
                                        <select name="post" id="post" class="form-control">
                                            <option value="">Selecione</option>
                                            <option value="1"
                                                <?= $elected ?  $elected->getPost() == 1 ? 'selected' : '' : '' ?>>
                                                Deputado Estadual/Distrital</option>
                                            <option value="2"
                                                <?= $elected ? $elected->getPost() == 2 ? 'selected' : '' : '' ?>>
                                                Deputado Federal</option>
                                            <?php if($user->getType() != 1): ?>
                                                <option value="3"
                                                    <?= $elected ? $elected->getPost() == 3 ? 'selected' : '' : '' ?>>
                                                    Governador
                                                </option>
                                                <option value="9"
                                                    <?= $elected ? $elected->getPost() == 9 ? 'selected' : '' : '' ?>>
                                                    Vice Governador
                                                </option>
                                                <option value="4"
                                                    <?= $elected ? $elected->getPost() == 4 ? 'selected' : '' : '' ?>>
                                                    Prefeito
                                                </option>
                                                <option value="11"
                                                    <?= $elected ? $elected->getPost() == 11 ? 'selected' : '' : '' ?>>
                                                    Vice Prefeito
                                                </option>
                                                <option value="5"
                                                    <?= $elected ? $elected->getPost() == 5 ? 'selected' : '' : '' ?>>
                                                    Presidente
                                                </option>
                                                <option value="6"
                                                    <?= $elected ? $elected->getPost() == 6 ? 'selected' : '' : '' ?>>
                                                    Senador
                                                </option>
                                                <option value="7"
                                                    <?= $elected ? $elected->getPost() == 7 ? 'selected' : '' : '' ?>>
                                                    Vereador
                                                </option>
                                            <?php endif; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="votes">Votos:</label>
                                        <input type="text" id="votes" name="votes" class="form-control"
                                            value="<?= $elected ? $elected->getVotes() : '' ?>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="state">Estado:</label>
                                        <select class="form-control" id="state" name="state"
                                            onchange="getCities(this.value, 'city')">
                                            <option value="0">Selecione</option>
                                            <?php foreach ($states as $state): ?>
                                            <option value="<?= $state->getId() ?>"
                                                <?= $elected ? $elected->getState()->getId() == $state->getId() ? 'selected' : '' : '' ?>>
                                                <?= $state->getEstado() ?>
                                            </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="city">Cidade:</label>
                                        <select class="form-control" id="city" name="city">
                                            <?php foreach ($cities as $c): ?>
                                            <option value="">Selecione</option>
                                            <option value="<?= $c->getId() ?>"
                                                <?= $elected ? $elected->getCity() ? $elected->getCity()->getId() == $c->getId() ? 'selected' : '' : '' : '' ?>>
                                                <?= $c->getCidade() ?>
                                            </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="resume">Resumo:</label>
                                        <textarea class="form-control" id="resume" name="resume"
                                            rows="7"><?= $elected ? $elected->getResume() : '' ?></textarea>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="instagram">Instagram:</label>
                                        <input type="text" id="instagram" name="instagram" class="form-control"
                                            value="<?= $elected ? $elected->getInstagram() : '' ?>"
                                            placeholder="https://">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="facebook">Facebook:</label>
                                        <input type="text" id="facebook" name="facebook" class="form-control"
                                            value="<?= $elected ?  $elected->getFacebook() : '' ?>"
                                            placeholder="https://">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="linkedin">Linkedin:</label>
                                        <input type="text" id="linkedin" name="linkedin" class="form-control"
                                            value="<?= $elected ? $elected->getLinkedin() : '' ?>"
                                            placeholder="http://">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="twitter">Twitter:</label>
                                        <input type="text" id="twitter" name="twitter" class="form-control"
                                            value="<?= $elected ? $elected->getTwitter() : '' ?>"
                                            placeholder="https://">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="tiktok">Tiktok:</label>
                                        <input type="text" id="tiktok" name="tiktok" class="form-control"
                                            value="<?= $elected ? $elected->getTiktok() : '' ?>" placeholder="https://">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="youtube">Youtube:</label>
                                        <input type="text" id="youtube" name="youtube" class="form-control"
                                            value="<?= $elected ? $elected->getYoutube() : '' ?>"
                                            placeholder="https://">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="email">E-mail:</label>
                                        <input type="text" id="email" name="email" class="form-control"
                                            value="<?= $elected ? $elected->getEmail() : '' ?>">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="site">Site:</label>
                                        <input type="text" id="site" name="site" class="form-control"
                                            value="<?= $elected ? $elected->getSite() : '' ?>" placeholder="https://">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="phone">Telefone:</label>
                                        <input type="text" id="phone" name="phone" class="form-control"
                                            data-mask="(99) 99999-9999"
                                            value="<?= $elected ? $elected->getPhone() : '' ?>">
                                    </div>
                                </div>
                            </div>
                            <div id="messageForm" class="alert text-left d-none" role="alert"></div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-primary" id="save" type="submit">Salvar Dados</button>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <?php endif; ?>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/plugins/tinymce/jquery.tinymce.min.js"></script>
<script src="<?= BASEURL ?>assets/js/plugins/tinymce/tinymce.min.js"></script>

<script>
const form = document.getElementById('form');
const messageForm = document.getElementById('messageForm');
$("#form").submit(function(e) {
    event.preventDefault();
    showLoading();
    $.ajax({
            type: 'POST',
            url: '<?= BASEURL ?>api/cadastros/eleitos-atualiza/',
            data: new FormData(this),
            processData: false,
            contentType: false
        })
        .done(function(json) {
            closeLoading();
            messageForm.classList.add("alert-success");
            messageForm.classList.remove("alert-danger");
            messageForm.textContent = json.message;
            messageForm.classList.remove("d-none");
            setTimeout(function() {
                window.location.reload();
            }, 2000);
        })
        .fail(function(json) {
            closeLoading();
            messageForm.classList.add("alert-danger");
            messageForm.classList.remove("alert-success");
            messageForm.textContent = json.responseJSON.message;
            messageForm.classList.remove("d-none");
        });
});

tinymce.init({
    selector: "textarea",
    menubar: false,
    statusbar: false,
    toolbar: 'styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image media | forecolor backcolor table',
    plugins: ["lists link image media textcolor table"],
    browser_spellcheck: true,
    imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
    setup: function(editor) {
        editor.on('change', function() {
            editor.save();
        });
    }
});
</script>