<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Eleições - Partido NOVO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="<?= BASEURL ?>assets/img/icone.png">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css?v=<?= time() ?>">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/login.css?v=<?= time() ?>">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon.png">
</head>

<body>

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div id="header" class="text-center" style="background: #fdc908; padding: 30px;">
                <img src="<?= BASEURL ?>assets/img/logo-eleições-novo-02.svg">
            </div>
            <div class="card-body">
                <form method="POST">
                    <?php if (\App\Helpers\Session::get('errorMsg')): ?>
                    <div class="alert alert-danger"><?= \App\Helpers\Session::get('errorMsg') ?></div>
                    <?php \App\Helpers\Session::forgot('errorMsg'); ?>
                    <?php endif; ?>
                    <div class="row">
                        <div class="col mb-3">
                            <fieldset>
                                <legend><label for="email">E-MAIL</label></legend>
                                <input type="text" name="email" required id="email" class="w-100 text-center"
                                    placeholder="E-MAIL">
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-1">
                            <fieldset>
                                <legend><label for="password">SENHA</label></legend>
                                <input type="password" name="password" required id="password" class="w-100 text-center"
                                    placeholder="SENHA">
                            </fieldset>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <a class="float-right" style="color: #1A2948; text-decoration: underline;"
                                href="https://auth.novo.org.br/eleicoes" target="_blank">Esqueci minha
                                senha</a>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">ENTRAR</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>